
.homePage-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color:#F0F5F9;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}

.heading{
    font-size: larger;
    font-weight: bolder;
}

.logout{
    width: 200px;
}

.blog{
    display: flex;
    width: 100%;
    background-color:#F0F5F9; ;
    margin: 20px;
    padding: 10px 0px;
}

.blog-image{
    max-width: 20%;
    width: 60%;
    object-fit: contain;
    padding: 0px 10px;
}

.blog-data{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.blog-data span{
    text-align: justify;
    padding: 3px;
}

.blog-title{
    font-size: larger;
    font-weight: bolder;
    color:black
}

.sticky {
    position: fixed;
    top: 0;
    width: 60%;
  }
